
.input {
    width: 60vw;
}

.icon {
    margin-top: 15vh;
    border-radius: 70px;
}

.input-username {
    margin-top: 15vh;
}

.spin {
    position: fixed;
    top: 48vh;
    z-index: 1;
}

.input-password {
    margin-top: 5vh;
}

.button-login {
    margin-top: 8vh;
    width: 50vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}